<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cdboost.mapper.MenuActionMapper">
  <resultMap id="BaseResultMap" type="cn.cdboost.entity.MenuAction">
    <id column="ActionID" jdbcType="BIGINT" property="actionID" />
    <result column="ActionName" jdbcType="VARCHAR" property="actionName" />
    <result column="ActionFlag" jdbcType="INTEGER" property="actionFlag" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CreateUserID" jdbcType="BIGINT" property="createUserID" />
    <result column="IsEnabled" jdbcType="INTEGER" property="isEnabled" />
  </resultMap>
  <sql id="Base_Column_List">
    ActionID, ActionName, ActionFlag, CreateTime, CreateUserID, IsEnabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from em_b_menuaction
    where ActionID = #{actionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from em_b_menuaction
    where ActionID = #{actionid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.cdboost.entity.MenuAction">
    insert into em_b_menuaction (ActionID, ActionName, ActionFlag, 
      CreateTime, CreateUserID, IsEnabled
      )
    values (#{actionid,jdbcType=BIGINT}, #{actionname,jdbcType=VARCHAR}, #{actionflag,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuserid,jdbcType=BIGINT}, #{isenabled,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cdboost.entity.MenuAction">
    insert into em_b_menuaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actionid != null">
        ActionID,
      </if>
      <if test="actionname != null">
        ActionName,
      </if>
      <if test="actionflag != null">
        ActionFlag,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="createuserid != null">
        CreateUserID,
      </if>
      <if test="isenabled != null">
        IsEnabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actionid != null">
        #{actionid,jdbcType=BIGINT},
      </if>
      <if test="actionname != null">
        #{actionname,jdbcType=VARCHAR},
      </if>
      <if test="actionflag != null">
        #{actionflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="isenabled != null">
        #{isenabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cdboost.entity.MenuAction">
    update em_b_menuaction
    <set>
      <if test="actionname != null">
        ActionName = #{actionname,jdbcType=VARCHAR},
      </if>
      <if test="actionflag != null">
        ActionFlag = #{actionflag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        CreateUserID = #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="isenabled != null">
        IsEnabled = #{isenabled,jdbcType=INTEGER},
      </if>
    </set>
    where ActionID = #{actionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cdboost.entity.MenuAction">
    update em_b_menuaction
    set ActionName = #{actionname,jdbcType=VARCHAR},
      ActionFlag = #{actionflag,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateUserID = #{createuserid,jdbcType=BIGINT},
      IsEnabled = #{isenabled,jdbcType=INTEGER}
    where ActionID = #{actionid,jdbcType=BIGINT}
  </update>

  <select id="getAllMenuAction" resultMap="BaseResultMap">
    select * from em_b_menuaction
  </select>
</mapper>