<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head id="i18n_" module="">
    　<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jquery,ui,easy,easyui,web">
    <meta name="description" content="easyui help you build your web page easily!">
    <title>jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/icon.css">
    <style type="text/css">
        #ff label{
            display:block;
            width:100px;
        }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#ff').form({
                url:'form3_proc.php',
                onSubmit:function(){
                    return $(this).form('validate');
                },
                success:function(data){
                    $.messager.alert('Info', data, 'info');
                }
            });
        });
    </script>
    <title>
        增加员工信息
    </title>
</head>
<body>

<div style="">
    <div class="ibox float-e-margins">
        <form action="addUser" method="post">
            <table class="table table-bordered table-info" id="table1">
                <tr>
                    <th class="tdl">姓名:</th>
                    <td class="tdr">
                        <input class="easyui-validatebox" id="userName" name="userName"
                               required="true" style="width:200px;"/>
                    </td>
                    <th class="tdl">性别:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="sex" name="sex"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">电话:</th>
                    <td class="tdr">
                        <input class="easyui-validatebox" id="tel" name="tel"
                               required="true" style="width:200px;"/>
                    </td>
                    <th class="tdl">年龄:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="age" name="age"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">生日:</th>
                    <td class="tdr">
                        <input class="easyui-datebox" id="birthday" name="birthday"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                    <th class="tdl">家庭地址:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="homeAddress" name="homeAddress"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">户口地址:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="registeredAddress" name="registeredAddress"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                    <th class="tdl">籍贯:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="nativePlace" name="nativePlace"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">身份证号码:</th>
                    <td class="tdr">
                        <input class="easyui-validatebox" id="idCardNo" name="idCardNo"
                               required="true" style="width:200px;"/>
                    </td>
                    <th class="tdl">所在工作部门:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="department" name="department"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">参加工作时间:</th>
                    <td class="tdr">
                        <input class="easyui-datebox" id="workTime" name="workTime"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                    <th class="tdl">（本单位）入职时间:</th>
                    <td class="tdr">
                        <input class="easyui-datebox" id="timeOfEntry" name="timeOfEntry"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">专业技术职称/职务:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="title" name="title"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                    <th class="tdl">计算机等级:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="computerLevel" name="computerLevel"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">外语等级:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="foreignLanguageLevel" name="foreignLanguageLevel"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                    <th class="tdl">毕业学校:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="graduateSchool" name="graduateSchool"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">学历学位:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="academicDegree" name="academicDegree"
                               style="width:200px;"/>
                    </td>
                    <th class="tdl">所学专业:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="major" name="major"
                               style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <th class="tdl">劳动合同编号:</th>
                    <td class="tdr">
                        <input class="easyui-textbox" id="laborContractNo" name="laborContractNo"
                               data-options="validType:['maxLength[30]']" style="width:200px;"/>
                    </td>
                </tr>

            </table>
            <table class="table table-bordered table-info" id="table3">
                <tr style="width:100%;">
                    <td colspan="6" align="right">
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="保存"/>
                        <input class="btn btn-primary" type="button" onclick="CloseWindowIframe()" value="关闭"/>&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
            </table>
        </form>

    </div>
</div>
</body>

<script type="text/javascript">
    //保存
    function saveData() {
        window.location.href="/addUser";
    }

</script>
</html>